# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/

# Django
db.sqlite3
*.log
staticfiles/
media/

# Environment variables
.env

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Gunicorn socket
*.sock

# Migrations cache (important)
*/migrations/__pycache__/